[submodule "Algorithms & Data Structures"]
    path = Algorithms & Data Structures
    url = https://github.com/XVIIStarPlatinum/AlgorithmsandDataStructures
[submodule "Databases"]
    path = ./Databases
    url = https://github.com/XVIIStarPlatinum/Databases
[submodule "Fundamentals of Professional Activity"]
    path = Fundamentals of Professional Activity
    url = https://github.com/XVIIStarPlatinum/csbasics
[submodule "Programming/Lab5/Lab5 (new)"]
    path = Programming/Lab5/Lab5 (new)
    url = https://github.com/XVIIStarPlatinum/JAVA_V_VAR_372799
[submodule "Programming/Lab6"]
    path = Programming/Lab6
    url = https://github.com/XVIIStarPlatinum/JAVA_VI_VAR_543534
[submodule "Programming/Lab7"]
    path = Programming/Lab7
    url = https://github.com/XVIIStarPlatinum/JAVA_VII_VAR_3232
[submodule "Web Programming/Lab1"]
    path = Web Programming/Lab1
    url = https://github.com/XVIIStarPlatinum/WEB_I_VAR2130
[submodule "Web Programming/Lab2"]
    path = Web Programming/Lab2
    url = https://github.com/XVIIStarPlatinum/WEB_II_VAR_3110
[submodule "Web Programming/Lab3"]
    path = Web Programming/Lab3
    url = https://github.com/XVIIStarPlatinum/WEB_III_VAR_3552
[submodule "Web Programming/Lab4/Front"]
    path = Web Programming/Lab4/Front
    url = https://github.com/XVIIStarPlatinum/WEB_IV_VAR_124411_FRONT
[submodule "Web Programming/Lab4/Back"]
    path = Web Programming/Lab4/Back
    url = https://github.com/XVIIStarPlatinum/WEB_IV_VAR_124411_BACK
[submodule "Programming Languages/Labs/assignment-1-io-library"]
    path = Programming Languages/Labs/assignment-1-io-library
    url = https://gitlab.se.ifmo.ru/XVIIstarPt_/assignment-1-io-library
[submodule "Programming Languages/Labs/assignment-2-dictionary"]
    path = Programming Languages/Labs/assignment-2-dictionary
    url = https://gitlab.se.ifmo.ru/XVIIstarPt_/assignment-2-dictionary
[submodule "Programming Languages/Labs/assignment-3-image-rotation"]
    path = Programming Languages/Labs/assignment-3-image-rotation
    url = https://gitlab.se.ifmo.ru/XVIIstarPt_/assignment-3-image-rotation
[submodule "Programming Languages/Labs/assignment-4-memory-allocator"]
    path = Programming Languages/Labs/assignment-4-memory-allocator
    url = https://gitlab.se.ifmo.ru/XVIIstarPt_/assignment-4-memory-allocator
[submodule "Programming Languages/Labs/assignment-5-sepia-filter"]
    path = Programming Languages/Labs/assignment-5-sepia-filter
    url = https://gitlab.se.ifmo.ru/XVIIstarPt_/assignment-5-sepia-filter